@import "./vars.scss";

.header__head {
  width: 100%;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 119px;
  }

  .head__logo {
    margin-right: 1.7em;
  }

  .head__searchBar-container {
    border: 1px solid red;
    position: relative;
  }

  .searchBar__search {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid map-get($color-palette, searchBar-color);
    align-items: center;

    .searchBar__input {
      width: 600px;
    }

    .searchBar__button {
      text-align: center;
      width: 45px;
      height: 45px;
    }

    input {
      padding: 0 1em;
    }
  }

  .rolling__keyword {
    width: 50%;
    position: absolute;
    border: 1px solid white;
    overflow: hidden;
    height: 20px;
    z-index: -1;
  }

  .rolling__container {
    border: 1px solid white;
    position: absolute;
    width: 50%;
    left: 1em;

    div {
      border: 1px solid white;
      height: 20px;
      align-items: center;
      font-size: 14px;
    }
  }
}

.searchBar__toggle {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  border: 1px solid red;
  background-color: white;
  height: fit-content;
  width: 100%;
}

.recommended__item {
  display: flex;
  flex-direction: column;
}

.header__navbar {
  border-top: 1px solid map-get($color-palette, navbar-line-color);
  border-bottom: 1px solid map-get($color-palette, searchBar-color);
  padding: 1em $padding-for-left-right;
  font-size: 16px;
  display: flex;

  .navbar__line {
    width: 1px;
    height: 18px;
    margin: 0 1em;
    background-color: map-get($color-palette, navbar-line-color);
  }

  li {
    margin: 0 0.2em;
  }

  .navbar__list-user {
    margin-left: auto;
  }
}
