@import "./vars.scss";

.header__head {
  width: 100%;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 119px;
  }

  .head__logo {
    margin-right: 1.7em;
  }

  .head__searchBar-container {
    position: relative;
  }

  .searchBar__search {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid map-get($color-palette, searchBar-color);
    align-items: center;

    .searchBar__input {
      width: 600px;
    }

    .searchBar__button {
      text-align: center;
      width: 45px;
      height: 45px;
      color: map-get($color-palette, highlight);
    }

    input {
      padding: 0 1em;
    }
  }

  .rolling__keyword {
    width: 50%;
    position: absolute;
    overflow: hidden;
    height: 22px;
    z-index: -1;
  }

  .rolling__container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    left: 1em;

    div {
      padding: 0;
      border: 1px solid white;
      color: #939393;
      font-size: 15px;
      font-weight: bold;
    }

    .rolling__items__rank {
      font-style: oblique;
      margin-right: 5px;
    }
  }
}

.searchBar__toggle {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  border: 1px solid map-get($color-palette, searchBar-color);
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;

  .popularWords {
    padding: 1em;
  }

  .popularWords__list {
    display: flex;
  }

  .popularWords__title {
    font-size: 15px;
    font-weight: bolder;
    color: #939393;
    padding-left: 1em;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 1em;
    padding-left: 1em;
  }

  li {
    margin-bottom: 1em;
    color: #383a3f;

    .item__rank {
      font-weight: bold;
      font-style: oblique;
      margin-right: 1em;
    }
  }

  .recommended {
    padding: 1em;
    display: flex;
    flex-direction: column;

    .recommended__item {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}

.highlight {
  color: map-get($color-palette, highlight);
}

.colorBlack {
  background-color: none;
}

.colorGray {
  background-color: #ddd;
}

.header__navbar {
  border-top: 1px solid map-get($color-palette, navbar-line-color);
  border-bottom: 1px solid map-get($color-palette, searchBar-color);
  padding: 1em $padding-for-left-right;
  font-size: 16px;
  display: flex;

  .navbar__line {
    width: 1px;
    height: 18px;
    margin: 0 1em;
    background-color: map-get($color-palette, navbar-line-color);
  }

  li {
    margin: 0 0.2em;
  }

  .navbar__list-user {
    margin-left: auto;
  }
}
