// colors
$white: rgb(255, 255, 255);
$light-gray1: rgb(235, 235, 235);
$light-gray2: rgb(210, 210, 210);
$medium-gray: rgb(190, 190, 190);
$medium-gray2: rgb(150, 150, 150);
$dark-gray: rgb(40, 40, 40);
$point-color: rgb(249, 81, 57);
