<nav class="nav">
  <div class="nav-item nav-search-wrap">
    <div class="nav-logo">
      <img src="/img/logo.png" alt="logo" />
    </div>
    <form action="" class="nav-search-bar">
      <input type="text" name="search" class="search-bar" autocomplete="off" />
      <i class="fas fa-search"></i>
      <div class="search-rollkeywords">
        <ol class="nav-search-rank">
          <li><span>1</span>미니가습기</li>
          <li><span>2</span>수분크림</li>
          <li><span>3</span>샤워타올</li>
          <li><span>4</span>남성벨트</li>
          <li><span>5</span>포스터액자</li>
          <li><span>6</span>선풍기</li>
          <li><span>7</span>코드스쿼드</li>
          <li><span>8</span>역삼역</li>
          <li><span>9</span>헤어마스크</li>
          <li><span>10</span>연필꽂이</li>
          <li><span>1</span>미니가습기</li>
        </ol>
      </div>
      <div class="search-suggestion">
        <h3>인기 쇼핑 키워드</h3>
        <div class="suggestion-list-wrap">
          <ol class="suggestion-list">
            <li><span>1</span>아메리카노</li>
            <li><span>2</span>아메리카노</li>
            <li><span>3</span>아메리카노</li>
            <li><span>4</span>아메리카노</li>
            <li><span>5</span>아메리카노</li>
          </ol>
          <ol class="suggestion-list">
            <li><span>6</span>아메리카노</li>
            <li><span>7</span>아메리카노</li>
            <li><span>8</span>아메리카노</li>
            <li><span>9</span>아메리카노</li>
            <li><span>10</span>아메리카노</li>
          </ol>
        </div>
      </div>
    </form>
  </div>
</nav>
