$fontSize: 12px;
$fontFamily: NanumGothic, '나눔고딕', 'Nanum Gothic', 'Malgun Gothic',
    '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, Arial, sans-serif;
$lineHeight: 1.5;

$backgroundColor: #f3f3f3;
$black: #333;
$lightGray: #f1f1f1;
$white: #fff;
$gray: #ccc;
$gray_2: #888;
$auto: 0 auto;

$width: 1280px;
$oneWidth: 10%;

$header-fontWeight: 700;
$header-letterSpacing: -1.15px;

$menu-borderColor: #efefef;
$menu-boxShadow: rgba(0, 0, 0, 0.16);
$menu-fontSize: 16px;

$search-borderColor: #f95139;