$gray: #cecfd1;
$lightgray: #e2e2e2;
$width: 970px;

.unseen {
    visibility: hidden;
}
.focused {
    border: 1px solid orange !important; //수정요망
}
.orange {
    color: orange;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: inline-flex;
        width: $width;
        justify-content: center;
        align-items: center;
        &__logo img {
            width: 120px;
            padding-right: 2rem;
        }
    }
}

.header__search-bar {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 30rem;
    border-radius: 0.7rem;
    border: 1px solid $gray;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .search-bar__icon {
        border: none;
        background-color: transparent;
        color: #ff385c;
        font-size: 150%;
    }
}

.search-bar__wrapper {
    position: relative;
    width: 90%;
    display: flex;
    left: 1rem;
    align-items: center;
    height: 1.5rem;
    overflow: hidden;
    input {
        position: absolute;
        border: none;
        outline: none;
        width: 90%;
    }
    .search-bar__roll-items {
        position: relative;
        height: 1rem;
        color: rgba($color: #000000, $alpha: 0.4);
        font-weight: bold;
        li {
            height: 1.5rem;
            font-size: 120%;
            width: 100%;
        }
    }
}
.search-bar__suggestion-hot {
    position: absolute;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    top: 3rem;
    left: 0;
    height: 12rem;
    width: 29rem;
    border-radius: 0.7rem;
    border: 1px solid orange;
    background-color: white;
    ol {
        padding-top: 0.5rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li {
            font-size: 90%;
            padding-top: 1rem;
        }
    }
}
.search-bar__suggestion-recommend {
    position: absolute;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    top: 3rem;
    left: 0;
    width: 29rem;
    border-radius: 0.7rem;
    border: 1px solid orange;
    background-color: white;
    ol {
        display: flex;
        flex-direction: column;
        li {
            font-size: 90%;
            padding-top: 1rem;
        }
    }
}
.navbar-wrapper {
    display: flex;
    justify-content: center;
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $gray;
    .navbar {
        display: inline-flex;
        width: $width;
        height: 2rem;
        align-items: center;
    }
}

.navbar__category {
    padding-right: 1rem;
    border-right: 1px solid $gray;
    display: inline-flex;
}

.navbar__menu {
    width: 89%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    &--item {
        span {
            padding-left: 1rem;
        }
    }
}