@charset "UTF-8";
body {
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 977px;
  padding-top: 43px;
  background-color: #fff;
}
header .header--logo {
  margin: 5px 30px;
  width: 119px;
  height: 51px;
}
header .header--search {
  position: relative;
  width: 670px;
  height: 54px;
  border: 1px solid #cecfd1;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
header .header--search .header--search--input {
  position: absolute;
  width: 630px;
  height: 54px;
}
header .header--search .header--search--input:hover {
  cursor: default;
}
header .header--search .header--search--keyword {
  position: absolute;
  transition: all 0.5s;
}
header .header--search .header--search--keyword ol {
  display: flex;
  flex-direction: column;
  margin: 8px 5px 5px 0;
}
header .header--search .header--search--keyword li {
  padding: 10px;
  height: 22px;
  line-height: 22px;
  font-size: 20px;
  font-weight: 700;
  color: #939393;
}
header .header--search .header--search--keyword li span {
  padding-right: 15px;
  font-style: italic;
}
header .header--popular-item {
  visibility: hidden;
  position: absolute;
  top: 98px;
  right: 220px;
  border: 1px solid red;
  background-color: white;
  width: 670px;
  height: 300px;
  border-radius: 10px;
  z-index: 1;
}
header .header--search--button {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 23px;
  height: 23px;
}

nav {
  min-width: 977px;
  margin-top: 40px;
  padding: 0 50px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
nav div {
  display: flex;
  align-items: center;
}
nav div img {
  margin-right: 7px;
}
nav .nav--regular ul {
  display: flex;
}
nav .nav--regular ul li {
  padding: 0 10px;
}
nav .nav__right {
  display: flex;
  margin-left: auto;
  padding: 0 20px;
}
nav .nav__right div {
  padding: 10px;
}
nav .nav__right .nav--browsing-history--downwardIcon {
  width: 8px;
  margin-left: 4px;
}

main {
  width: 1274px;
  margin: 20px 80px;
  display: flex;
}
main .main--center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .main--center .main--center__upper {
  display: flex;
}
main .main--center .main--center__upper .main--center__upper--bestselling {
  width: 510px;
}
main .main--center .main--center__upper .main--center__upper--promo {
  width: 763px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--img {
  width: 485px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--img .upper--img--inner {
  display: flex;
  width: calc(485px * 3);
  transition: all 0.5s;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--img .upper--img--inner img {
  display: flex;
  flex-basis: 485px;
  justify-content: center;
  align-items: center;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--prev {
  position: absolute;
  top: 37%;
  left: 8%;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--next {
  position: absolute;
  top: 37%;
  right: 8%;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--page {
  position: absolute;
  bottom: 5%;
}
main .main--center .main--center__upper .main--center__upper--promo .main--center__upper--page img {
  margin: 0 1.5px;
  width: 15px;
}
main .main--center .main--center__mdPick {
  width: 1274px;
  display: flex;
}
main .main--center .main--center__mdPick ul {
  margin: 0;
  padding: 0;
  display: flex;
}
main .main--center .main--center__mdPick ul li {
  padding: 21px;
  display: flex;
  flex-direction: column;
}
main .main--center .main--center__mdPick ul li img {
  width: 200px;
  height: 200px;
  margin-bottom: 3px;
}
main .main--center .main--center__mdPick ul li strong {
  font-size: 14px;
  margin-bottom: 3px;
}
main .main--center .main--center__mdPick ul li span {
  font-size: 12px;
  margin-bottom: 3px;
  color: gray;
}
main .main--center .main--center__mdPick ul li .main--center__mdPick--icon {
  width: 31px;
  height: auto;
}

.style__icon__size {
  width: 28px;
  height: 28px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

div,
img {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
