@import 'color.scss';
@import 'SearchBarView.scss';

ol, ul {
  list-style: none;
}

a {
  text-decoration : none;
  color: black;
}

.suggestion {
  width: 100%;
  position: relative;
  top: -1px;
  left: 0;
  border: 1px solid $redorange;
  border-radius: $def-border-radius;
  background-color: white;
}

.popular-keyword {
  padding: 25px 29px 23px;

  &.hide {
    display: none;
  }

  &__tit {
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 16px;
    color: $gray;
  }

  &__list-cont {
    .popular-keyword__list {
      display: inline-block;
      width: 50%;

      &__item {
        padding: 12px 15px 0 0;

        &__rank {
          margin-right: 10px;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

.suggestion-from-input {
  padding: 18px 0 20px;

  &.hide {
    display: none;
  }
  
  &__list {
    display: inline-block;
    width: 100%;

    &__item + &__item {
      margin-top: 2px;
    }
    
    &__item {
      width: 100%;

      &__link {
        width: 100%;
        height: 26px;
        padding: 0 29px;
        line-height: 26px;
        font-size: 14px;
        text-overflow: ellipsis;
        color: black;

        &:hover {
          background-color: $lightgray2;
        }

        .link__mark {
          color: $redorange;
        }
      }
    }
  }
}